body {
    background-color: black;
}
.section {
    position: relative;
    top: -125px;
    height: 750px;
    background-image: url("ban%20copy.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    font-size: 150px;
}
.inner {
    position: relative;
    top: -125px;
    display: grid;
    column-gap: 100px;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: solid white 5px;
}
.iron {
    grid-area: 1/1/1/1;
    display: grid;
    grid-template: 50px 141px 50px 50px / 1fr;
    border-right: solid white 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.top1 {
    grid-area: 1/1/1/1;
}
.pic1 {
    grid-area: 2/1/2/1;
    width: 225px;
}
.who1 {
    grid-area: 3/1/3/1;
}
.p1 {
    grid-area: 4/1/4/1;
}
.than {
    grid-area: 1/2/1/2;
    display: grid;
    grid-template: 50px 103px 50px 50px / 1fr;
    border-right: solid white 5px;
    border-left: solid white 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.top2 {
    grid-area: 1/2/1/2;
}
.pic2 {
    grid-area: 2/2/2/2;
    width: 225px;
}
.who2 {
    grid-area: 3/2/3/2;
}
.p2 {
    grid-area: 4/2/4/2;
}
.cap {
    grid-area: 1/3/1/3;
    display: grid;
    grid-template: 50px 104px 50px 50px / 1fr;
    border-right: solid white 5px;
    border-left: solid white 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.top3 {
    grid-area: 1/3/1/3;
}
.pic3 {
    grid-area: 2/3/2/3;
    width: 225px;
}
.who3 {
    grid-area: 3/3/3/3;
}
.p3 {
    grid-area: 4/3/4/3;
}
.thor {
    grid-area: 1/4/1/4;
    display: grid;
    grid-template: 50px 136px 50px 50px / 1fr;
    border-left: solid white 5px;
    padding-bottom: 375px;
    padding-left: 5px;
    padding-right: 5px;
}
.top4 {
    grid-area: 1/4/1/4;
}
.pic4 {
    grid-area: 2/4/2/4;
    width: 225px;
}
.who4 {
    grid-area: 3/4/3/4;
}
.p4 {
    grid-area: 4/4/4/4;
}
