body{
    background-color: #0a0a7e;
}

.con{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.b1 {
    position: relative;
    display: block;
    background-color: black;
    width: 50px;
    height: 50px;
}

.b2 {
    position: relative;
    display: block;
    background-color: black;
    width: 50px;
    height: 50px;
}

.svg {
    padding-bottom: 30px;
    border-bottom: solid black 5px;
}