.title {
    color: green;
}
body {
    font-family: "Lucida Console", "San-serif", monospace;
    color: white;
    background-image: url("background.jpeg");
    width: 700px;
    margin: auto;
}

h1 {
    font-size: 250%;
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center
}


nav li {
    background-color: white;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
}

.photo img {
    width: 300px;
    border-radius: 50px;  
}

.thumbs img {
    height: 65px;
    border-radius: 20px;
    margin: 5px;
}

.droid {
    background-color: grey;
    padding: 20px;
    margin: 30px;
    border: 2px white solid;
    border-radius: 30px; 
}

.droid .photo {
    float: left;
    margin: 10px;
}

.droid:nth-child(even) .photo {
   float: right;
}

.desc {
    margin: auto;
}