.cartoon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cartoon div {
    position: absolute;
    box-sizing: border-box;
}

.b {
    border: 1vmin solid black;
}

.r {
    border-radius: 100%;
}

.hb::before,
.ha::after {
    content: "";
    display: block;
    position: absolute;
}

/****/
.cartoon {
    --skin: #fed41d;
    --dark: #000000;
    --hair: #fed41d;
    --robe: #f14e28;
    width: 80vmin;
    height: 80vmin;
}

.cartoon::after {
    width: 120%;
    bottom: 0;
    border-top: 1vmin solid black;
    left: 50%;
    transform: translate(-50%, 25%);
}

.face {
    left: 50%;
    top: -9%;
    background: var(--skin);
    width: 52%;
    height: 40%;
    border-radius: 60% 60% 60% 60% / 50% 50% 30% 30%;
    transform: translate(-50%, 0);
}

.glasses {
    background: white;
    width: 40%;
    height: 50%;
    top: 28%;
    left: 67%;
}

.glasses + .glasses {
    left: auto;
    right: 23%;
}

.glasses-bar {
    width: 100%;
    border-top: 1vmin solid transparent;
    top: 63%;
}

.scarf {
    width: 50%;
    height: 25%;
    top: 62%;
    left: 7%;
    transform: translate(-50%, 0) rotate(90deg);
    border-radius: 15% / 130%;
    background: #92f233;
    background-size: 50%;
    background-position: -25% 0;
}


.eye {
    width: 6%;
    height: 9%;
    background: white;
    top: 48%;
    left: 45%;
    box-shadow: inset -0.5vmin -0.5vmin 0 1vmin black;
}

.eye + .eye {
    left: auto;
    right: 11%;
}

.mouth {
    width: 49%;
    height: 15%;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 0) rotate(7deg) rotateY(180deg);
    top: 82%;
    left: 64%;
}

.ear {
    background: var(--skin);
    width: 7%;
    height: 7%;
    top: 16%;
    left: 20%;
}

.ear + .ear {
    left: auto;
    right: 20%;
}

.hair {
    top: 0%;
    height: 28%;
}
.hair-1 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 24%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-2 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 29%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-3 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 34%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-4 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 39%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-5 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 44%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-6 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 49%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-7 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 54%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-8 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 59%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-9 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 64%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.hair-10 {
    z-index: -1;
    top: -16%;
    height: 28%;
    left: 69%;
    width: 6%;
    border-radius: 100% 100% 0 0/100%;
    background-color: var(--hair);
}
.body {
    width: 60%;
    height: 55%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 40% / 100% 100% 0 0;
    background: var(--robe);
}

.arm {
    top: 34%;
    left: 35%;
    height: 35%;
    width: 40%;
    transform: translate(-50%, 0) rotate(20deg);
    border-radius: 100% 100% 40% 40% / 200% 200% 0 0;
    background: var(--robe);
}

.arm + .arm {
    left: auto;
    right: 35%;
    transform: translate(50%, 0) rotate(-20deg);
}

.hand {
    width: 15%;
    height: 15%;
    top: 59%;
    left: 12%;
    background: var(--skin);
}

.hand + .hand {
    left: 73%;
}

.wand {
    z-index: 1;
    width: 9%;
    height: 6%;
    border-radius: 3vmin 3vmin 3vmin 3vmin;
    top: 16%;
    right: 31%;
    background: var(--hair);
}

.pants {
    width: 25%;
    height: 12%;
    bottom: 14%;
    left: 24%;
    background: #009ddc;
}
.leg {
    z-index: -2;
    width: 16%;
    height: 12%;
    bottom: 6%;
    left: 31%;
    background: #fed41d;
}

.pants + .pants {
    left: auto;
    right: 24%;
}
.leg + .leg {
    left: auto;
    right: 31%;
}

.shoe {
    width: 28%;
    left: 20.5%;
    height: 9%;
    bottom: 0;
    border-radius: 200% 90% 0 5% / 400% 0 0 0;
    background: #009ddc;
}

.shoe + .shoe {
    left: auto;
    right: 20.5%;
    border-radius: 90% 200% 5% 0% / 0 400% 0 0;
}
