body {
    text-align: center;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.back {
    position: absolute;
    height: 900px;
    left: 24%;
}

h1 {
    font-size: 400%;
}

.fish {
    position: absolute;
    left: 45%;
    top: 225px;
}

.body {
    width: 200px;
    height: 100px;
    color: orange;
    background-color: orange;
    border-radius: 50%;
}

.fin {
    z-index: -1;
    top: 0;
    left: -45%;
    position: absolute;
    width: 200px;
    height: 100px;
    color: orange;
    background-color: #de9000;
    transform: perspective(300px) rotateY(70deg);
    border-radius: 25%;
    animation: fin 6s infinite linear;
}

@keyframes fin {
    5% {
        transform: rotateX(1deg) rotateY(70deg);
    }
}
