.title {
    color: green;
}
:root {
    height: 100%;
}

body {
    background-color: lightgreen;
    position: relative;
    height: 100%;
    margin: 0;
}

#ghastly {
    position: absolute;
    top: 50%;
    left: 50%;
}

#body {
    background-color: green;
    border-radius: 50%;
    width: 365px;
    height: 365px;
    position: relative;
    top: -182.5px;
    left: -182.5px;
    z-index: 4;
}

.leftEye {
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 10;
}

.leftEyeBlock {
    background-color: green;
    width: 200px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: -10px;
    z-index: 10;

    transform: rotate(-3deg);
}

.leftEyePupil {
    background-color: #4c2854;
    border-radius: 40%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 85px;
    left: 110px;
    z-index: 8;
}

.rightEye {
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 9;
}

.rightEyeBlock {
    background-color: green;
    width: 200px;
    height: 100px;
    position: absolute;
    top: -40px;
    right: -10px;
    z-index: 11;

    transform: rotate(5deg);
}

.rightEyePupil {
    background-color: #4c2854;
    border-radius: 40%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 85px;
    right: 110px;
    z-index: 10;
}

.mouth {
    background-color: #ed779a;
    border-radius: 50%;
    width: 317px;
    height: 250px;
    position: absolute;
    top: 90px;
    right: 23px;
    z-index: 6;
}

.mouthBlock {
    background-color: green;
    border-radius: 50%;
    width: 350px;
    height: 182px;
    position: absolute;
    top: -13px;
    right: -25px;
    z-index: 7;
}

.teethTop1 {
    background-color: green;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 128px;
    right: 40px;
    z-index: 10;

    transform: rotate(25deg);
}

.teethTop2 {
    background-color: green;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 128px;
    left: 40px;
    z-index: 10;
    transform: rotate(-25deg);
}

.teethBottom1 {
    background-color: green;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 230px;
    left: 80px;
    z-index: 10;
    transform: rotate(-20deg);
}

.teethBottom2 {
    background-color: green;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 216px;
    right: 50px;
    z-index: 10;
    transform: rotate(20deg);
}

.teethBottom3 {
    background-color: green;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 240px;
    right: 130px;
    z-index: 10;
    transform: rotate(45deg);
}

.teethBottom4 {
    background-color: green;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 229px;
    right: 80px;
    z-index: 10;
    transform: rotate(27deg);
}

.teethBottom5 {
    background-color: green;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 215px;
    left: 50px;
    z-index: 10;
    transform: rotate(-20deg);
}
.leftMus {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 210px;
    left: 90px;
    z-index: 10;
}
.rightMus {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 210px;
    right: 90px;
    z-index: 9;
}
.leftMusTip {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 212px;
    left: 43px;
    z-index: 10;

    transform: rotate(14deg);
}
.rightMusTip {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 212px;
    right: 43px;
    z-index: 10;

    transform: rotate(-14deg);
}