.title {
    color: green;
}
body{
    background-image: url("Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-color: black;
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
    color: darkred;
    width: 700px;
    font-size: larger;
}
